@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.read-more .read-more__title, .product .product__title, .section__title, .property .property__heading, .advantages__list, .hero__pagination, .hero__title, .contacts, .nav, .btn, .link {
  text-transform: uppercase;
}

.cart__text, .messengers__text {
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.product_forge {
  background-position: top 94px center, top center;
}

body {
  background: #2b2323;
  color: #ffffff;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.link {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}
.link .link__txt {
  display: block;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.btn-main {
  position: relative;
  padding: 12px 36px;
  background-color: #c51414;
  transition: 0.2s;
}
.btn-main:after {
  content: url("../svg/btn_stroke.svg");
  display: block;
  width: 171px;
  height: 48px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  z-index: -1;
}
.btn-main:hover {
  transform: translate(5px, 5px);
}
.btn-main:hover:after {
  transform: translate(-5px, -5px);
}

.btn-secondary {
  position: relative;
  display: block;
  padding: 12px 0;
  transition: 0.2s;
}
.btn-secondary:after {
  content: "";
  display: block;
  width: 195px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #ffffff;
  transition: 0.2s;
}
.btn-secondary:hover {
  transform: translateY(5px);
}
.btn-secondary:hover:after {
  transform: translateY(-5px);
}

.read-more .read-more__title, .product .product__title, .section__title, .property .property__heading, .advantages__list, .hero__pagination, .hero__title, .contacts, .nav, .link, .btn {
  text-transform: uppercase;
}

.cart__text, .messengers__text {
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.product_forge {
  background-position: top 94px center, top center;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #2b2323;
  z-index: 9999;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__nav {
  min-width: 330px;
  width: 400px;
}
.nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 176px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
.contacts__text {
  display: block;
}
.contacts__arrow {
  min-width: 15px;
  fill: #ffffff;
}

.messengers {
  position: relative;
  display: flex;
  gap: 10px;
}
.messengers__icon {
  fill: #ffffff;
}

.cart__icon {
  fill: #ffffff;
}

.read-more .read-more__title, .product .product__title, .section__title, .property .property__heading, .advantages__list, .hero__pagination, .hero__title, .link, .btn, .nav, .contacts {
  text-transform: uppercase;
}

.messengers__text, .cart__text {
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.product_forge {
  background-position: top 94px center, top center;
}

.hero__slide-container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  margin-top: 108px;
  padding-left: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 140px;
  color: #ffffff;
}
.hero__subtitle {
  margin-top: 25px;
  padding-left: 150px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #ffffff;
}
.hero__subtitle-selection {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #ffffff;
}
.hero__price {
  position: relative;
  display: block;
  margin-top: 35px;
  padding-left: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}
.hero__price:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 140px;
  height: 1px;
  background-color: #ee0000;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 90px;
  padding-left: 150px;
}
.hero__img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  min-height: 750px;
}
.hero__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}
.hero__bullet {
  width: 120px;
  height: 45px;
}
.hero__bullet-text {
  display: block;
  padding-top: 14px;
}

.forge {
  background-image: url("../img/hero/bg-forge.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.forge__subtitle {
  max-width: 580px;
}
.forge__selection {
  color: #ee0000;
}
.forge__img {
  margin-right: auto;
  margin-left: auto;
}

.shade {
  background-image: url("../img/hero/bg-shade.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.shade__subtitle {
  max-width: 820px;
}
.shade__selection {
  color: #4fc514;
}
.shade__img {
  padding-top: 100px;
  padding-right: 300px;
}

.flit {
  background-image: url("../img/hero/bg-flit.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.flit__subtitle {
  max-width: 650px;
}
.flit__selection {
  color: #c54f14;
}
.advantages {
  position: relative;
  background: url(../svg/bg_strokes.svg) no-repeat top center;
}

.advantages__list {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  background-image: url(../svg/bg_stroke_props.svg);
  background-repeat: no-repeat;
  background-position: center top 147px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.advantage {
  width: 405px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage_bot {
  border-bottom: 1px solid #ee0000;
}

.advantage_top {
  border-top: 1px solid #ee0000;
}

.advantage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: top center;
}

.advantage__txt {
  display: block;
}

.advantage__txt_red {
  color: #ee0000;
}

.advantage_guarantee {
  width: 220px;
  background-image: url(../svg/icon_garantee.svg);
}

.advantage_free-shipping {
  width: 280px;
  background-image: url(../svg/icon_delivery.svg);
}

.advantage_free-return {
  width: 290px;
  background-image: url(../svg/icon_comeback.svg);
}

.props {
  margin-top: 150px;
}
.props .props__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.props .props__item {
  height: 380px;
  display: flex;
  align-items: center;
}

.property {
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: 62vw;
}
.property_left {
  background-position: right center;
}
.property_right {
  justify-content: flex-end;
  background-position: left center;
}
.property_sound {
  background-image: url("../img/prop1.png");
}
.property_design {
  background-image: url("../img/prop2.png");
}
.property_microphone {
  background-image: url("../img/prop3.png");
}
.property_compatible {
  background-image: url("../img/prop4.png");
}
.property .property__text-wrapper {
  min-width: 743px;
  max-width: 743px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
}
.property .property__text-wrapper_left {
  margin-left: 11.25vw;
  background-image: url("../svg/underline_property_left.svg");
  background-position: left bottom;
}
.property .property__text-wrapper_right {
  margin-right: 11.25vw;
  padding-left: 134px;
  background-image: url("../svg/underline_property_right.svg");
  background-position: left bottom;
}
.property .property__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.property .property__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  margin-top: 25px;
}
.property .property__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  max-width: 470px;
  margin-top: 30px;
  line-height: 1.4;
}

.products {
  margin-top: 150px;
}

.section__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #ffffff;
  text-align: center;
}

.products__list {
  margin-top: 100px;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 750px;
  background-repeat: no-repeat;
}
.product_forge {
  background-image: url("../img/products/forge_bg-text.png"), url("../img/products/forge_bg.png");
}
.product .product__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 66px;
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #ee0000;
}
.product .product__advantages {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product .product__advantage-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  display: block;
  padding-left: 57px;
  line-height: 1.4;
  background: url("../svg/icon_check.svg") no-repeat left center;
}
.product .product__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-top: 80px;
  padding-left: 70px;
  background: url("../svg/product_price_stroke.svg") no-repeat left center;
}
.product .product__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}
.product .product__center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.product .product__center-wrapper .product__image {
  max-height: 500px;
}
.product .product__right-wrapper {
  align-self: center;
  justify-self: flex-end;
}
.product .product__props-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product .product__property {
  padding-left: 30px;
  background: url("../svg/product_property_stroke.svg") no-repeat left center;
}

.aside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  z-index: 100;
  transform: translate3d(-100%, 0, 0);
  background-color: #2b2323;
  overflow-y: auto;
  transition: all ease-in 500ms;
}
.aside_active {
  transform: translate3d(0, 0, 0);
}

.read-more {
  display: none;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.read-more_active {
  display: block;
}
.read-more .read-more__close-btn-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  display: flex;
  justify-content: flex-end;
  z-index: 99999;
}
.read-more .read-more__close-btn {
  margin-right: 40px;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #ffffff;
  background: none;
}
.read-more .read-more__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 66px;
  color: #ffffff;
  text-align: center;
  color: #ee0000;
}
.read-more .read-more__slider-container {
  padding: 100px;
  max-height: 800px;
  overflow: hidden;
}
.read-more .read-more__slide {
  min-height: 150px;
  max-height: 800px;
}
.read-more .read-more__image {
  text-align: center;
  min-height: 150px;
  max-height: 400px;
}
.read-more .read-more__cta-wrapper {
  text-align: center;
  vertical-align: top;
}
.read-more .read-more__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  margin-right: 35px;
  padding-left: 70px;
  background: url("../svg/product_price_stroke.svg") no-repeat left center;
}
.read-more .read-more__tag-list {
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.read-more_forge {
  background: url("../svg/read_more_forge_bg-grad.svg") no-repeat center center/cover;
}

.headphone-properties {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: url("../svg/read_more_bg.svg") no-repeat center top/100% 100%;
}
.headphone-properties .headphone-properties__tags {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 45px;
  margin-top: 40px;
}
.headphone-properties .headphone-properties__link {
  display: block;
  padding: 12px 20px;
  border: 1px solid #300000;
  border-bottom: 1px solid #c51414;
  transition: all ease 400ms;
  opacity: 0.6;
}
.headphone-properties .headphone-properties__link:hover {
  transform: scale3d(105%, 105%, 105%);
  opacity: 0.8;
}
.headphone-properties .headphone-properties__link:focus {
  border: 1px solid #c51414;
}
.headphone-properties .headphone-properties__link_active {
  transform: scale3d(105%, 105%, 105%);
  border: 1px solid #c51414;
  opacity: 1;
}
.headphone-properties .headphone-properties__description {
  display: flex;
  min-height: 250px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.headphone-properties .headphone-properties__description p,
.headphone-properties .headphone-properties__description span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: inherit;
  color: #ffffff;
  line-height: 1.4;
}
.headphone-properties .headphone-properties__description .tag-description__title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.headphone-properties .headphone-properties__tag-description {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 110px;
  transform: translateX(1800px);
  transition: all ease-in 600ms;
  order: 1;
}
.headphone-properties .headphone-properties__tag-description_active {
  transform: translateX(0);
  order: 0;
}