@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.cart-item__name, .cart-block__title, .read-more__title, .product__title, .advantages__list, .hero__pagination, .hero__title, .header, .section__title, .property__heading, .btn, .link {
  text-transform: uppercase;
}

.cart-item__remove-txt, .cart-item__plus-txt, .cart-item__minus-txt, .cart__text, .messengers__link span {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.product_flit, .product_shade, .product_forge {
  background-position: top 9.4rem center, top center;
}

html {
  font-size: 10px;
}

body {
  background: #2b2323;
  color: #ffffff;
}

.container {
  max-width: 178rem;
  margin: 0 auto;
  padding-left: 4vw;
  padding-right: 4vw;
}

.link {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}
.link .link__txt {
  display: block;
}

.section-margin {
  margin-bottom: 15rem;
}

.section-title-margin {
  margin-bottom: 10rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.buttons-group {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #ffffff;
}

.btn-main {
  position: relative;
  padding: 12px 36px;
  background-color: #c51414;
  transition: 0.2s;
}
.btn-main:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid #c51414;
  transition: 0.2s;
  z-index: -1;
}
.btn-main:hover {
  transform: translate(5px, 5px);
}
.btn-main:hover:after {
  transform: translate(-5px, -5px);
}
.btn-main_disabled {
  padding: 12px 36px;
  background-color: #300000;
  border: 1px solid #c51414;
  animation-name: btn-text;
  transform: translate(5px, 5px);
  transition: 0.5s;
}

.btn-secondary {
  position: relative;
  display: block;
  padding: 12px 0;
  transition: 0.2s;
  cursor: pointer;
  white-space: nowrap;
}
.btn-secondary:after {
  content: "";
  display: block;
  width: 19.5rem;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #ffffff;
  transition: 0.2s;
}
.btn-secondary:hover {
  transform: translateY(5px);
}
.btn-secondary:hover:after {
  transform: translateY(-5px);
}

.modal-close {
  position: sticky;
  top: 10rem;
  margin-left: auto;
  margin-right: 4rem;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 99999;
  background: url("../svg/icon_close.svg") no-repeat center/cover;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.modal-close__btn {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
.modal-close:hover {
  opacity: 1;
}

.property {
  width: 100%;
  padding-bottom: 8rem;
  padding-top: 8rem;
  display: flex;
  background-repeat: no-repeat;
}
.property_left {
  background-position: right center;
}
.property_right {
  justify-content: flex-end;
  background-position: left center;
}
.property_sound {
  background-image: url("../img/prop5.png");
}
.property_design {
  background-image: url("../img/prop2.png");
}
.property_microphone {
  background-image: url("../img/prop3.png");
}
.property_compatible {
  background-image: url("../img/prop4.png");
}
.property__text-wrapper {
  min-width: 743px;
  max-width: 743px;
  padding: 5rem;
  background-color: rgba(48, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.property__text-wrapper_left {
  -webkit-clip-path: polygon(0 28%, 11% 0, 100% 0%, 100% 54%, 82% 100%, 0% 100%);
          clip-path: polygon(0 28%, 11% 0, 100% 0%, 100% 54%, 82% 100%, 0% 100%);
  margin-left: 11.25vw;
  background-image: url("../svg/underline_property_left.svg");
}
.property__text-wrapper_right {
  -webkit-clip-path: polygon(0 0, 92% 0, 100% 21%, 100% 100%, 18% 100%, 0 54%);
          clip-path: polygon(0 0, 92% 0, 100% 21%, 100% 100%, 18% 100%, 0 54%);
  margin-right: 11.25vw;
  padding-left: 13.4rem;
  background-image: url("../svg/underline_property_right.svg");
}
.property__heading {
  margin-bottom: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #ffffff;
}
.property__subtitle {
  margin-bottom: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  color: #ffffff;
}
.property__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
  max-width: 47rem;
  line-height: 1.4;
}

.section__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  color: #ffffff;
  text-align: center;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #ffffff;
  position: sticky;
  top: 0;
  background: #2b2323;
  opacity: 0.5;
  z-index: 9999;
  transition: all 0.3s ease;
}
.header:hover {
  opacity: 1;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__nav {
  min-width: 33rem;
  width: 40rem;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.nav__link {
  transition: all 0.3s ease;
}
.nav__link:hover {
  padding-bottom: 1rem;
  border-bottom: 1px #c51414 solid;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 17.6rem;
  cursor: pointer;
}
.contacts__link {
  transition: all 0.3s ease;
}
.contacts__link span {
  display: flex;
  align-items: center;
}
.contacts__link span::before {
  content: "\e900";
  font-family: "icomoon";
  margin-right: 5px;
  font-size: 2.4rem;
  color: #fff;
}
.contacts__link span:hover::before {
  color: #c51414;
}
.contacts__link:hover {
  padding-bottom: 1rem;
  border-bottom: 1px #c51414 solid;
}

.messengers {
  position: relative;
  display: flex;
  gap: 1rem;
}
.messengers__item {
  padding: 0.8rem;
}
.messengers__link {
  font-size: 2.4rem;
}
.cart {
  position: relative;
}
.cart__link {
  font-size: 3rem;
}
.cart__icon {
  fill: #ffffff;
}
.cart__quantity {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 3px;
  display: flex;
  text-align: center;
  font-size: 12px;
  background-color: #300000;
  border: 1px dashed #c51414;
  visibility: hidden;
}
.cart__quantity_active {
  visibility: visible;
}

.hero {
  position: relative;
}
.hero__slide-container {
  height: 75rem;
  display: flex;
  gap: 4rem;
}
.hero__cta {
  padding-top: 10.8rem;
}
.hero__title {
  margin-bottom: 2.5rem;
  padding-left: 7vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14rem;
  color: #ffffff;
}
.hero__subtitle {
  margin-bottom: 3.5rem;
  padding-left: 7vw;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  color: #ffffff;
}
.hero__subtitle-selection {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  color: #ffffff;
}
.hero__price {
  position: relative;
  display: block;
  padding-left: 7vw;
  margin-bottom: 7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: #ffffff;
}
.hero__price:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6vw;
  height: 1px;
  background-color: #c51414;
}
.hero__buttons {
  padding-left: 7vw;
}
.hero__img {
  align-self: end;
  margin-left: auto;
  margin-right: auto;
}
.hero__img img {
  height: 65rem;
}
.hero__pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #ffffff;
}
.hero__bullet {
  width: 12rem;
  height: 4.5rem;
}
.hero__bullet-text {
  display: block;
  padding-top: 1.4rem;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.forge {
  background-image: url("../img/hero/bg-forge.jpg");
}
.forge__subtitle {
  max-width: 58rem;
}
.forge__selection {
  color: #ee0000;
}
.shade {
  background-image: url("../img/hero/bg-shade.jpg");
}
.shade__subtitle {
  max-width: 82rem;
}
.shade__selection {
  color: #4fc514;
}
.flit {
  background-image: url("../img/hero/bg-flit.jpg");
}
.flit__subtitle {
  max-width: 65rem;
}
.flit__selection {
  color: #c54f14;
}
.advantages {
  position: relative;
  padding-top: 15rem;
  margin-bottom: 10rem;
  background: url(../svg/bg_strokes.svg) no-repeat top center;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
  background-image: url(../svg/bg_stroke_props.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: calc(100% - 8vw) auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(0.694vw + 10.675px);
  color: #ffffff;
}

.advantage {
  width: 40.5rem;
  height: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage_bot {
  border-bottom: 1px solid #c51414;
}
.advantage_guarantee {
  background-image: url(../svg/icon_garantee.svg);
}
.advantage_top {
  border-top: 1px solid #c51414;
}
.advantage_free-shipping {
  background-image: url(../svg/icon_delivery.svg);
}
.advantage_free-return {
  background-image: url(../svg/icon_comeback.svg);
}
.advantage__wrapper {
  width: 100%;
  text-align: center;
  padding-top: 3.125vw;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 2.09vw;
}
.advantage__txt {
  display: block;
}
.advantage__txt_red {
  color: #c51414;
}

.props__list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.product {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 75rem;
  background-repeat: no-repeat;
}
.product_forge {
  background-image: url("../img/products/forge_bg-text.png"), url("../img/products/forge_bg.png");
}
.product_shade {
  background-image: url("../img/products/shade_bg-text.png"), url("../img/products/shade_bg.png");
}
.product_flit {
  background-image: url("../img/products/flit_bg-text.png"), url("../img/products/flit_bg.png");
}
.product__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6.6rem;
  color: #ffffff;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: #c51414;
}
.product__advantages {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 8rem;
}
.product__advantage-text {
  display: block;
  padding-left: 5.7rem;
  line-height: 1.4;
  background: url("../svg/icon_check.svg") no-repeat left center;
}
.product__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: #ffffff;
  padding-left: 7rem;
  margin-bottom: 8rem;
  background: url("../svg/product_price_stroke.svg") no-repeat left center;
}
.product__center {
  width: 100%;
  height: 100%;
  min-width: 0;
}
.product__slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__image {
  min-width: 0;
  max-width: 100%;
}
.product__props {
  align-self: center;
  justify-self: flex-end;
}
.product__props-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.product__property {
  padding-left: 3rem;
  background: url("../svg/product_property_stroke.svg") no-repeat left center;
}

.aside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  transform: translate3d(-100%, 0, 0);
  background-color: #2b2323;
  overflow-y: auto;
  transition: all ease-in 0.5s;
}
.aside_active {
  transform: translate3d(0, 0, 0);
}

.read-more {
  display: none;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.read-more_active {
  display: block;
}
.read-more__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6.6rem;
  color: #ffffff;
  text-align: center;
  color: #c51414;
}
.read-more__slider-container {
  padding: 10rem;
  max-height: 80rem;
  overflow: hidden;
}
.read-more__slide {
  min-height: 15rem;
  max-height: 80rem;
}
.read-more__image {
  text-align: center;
  min-height: 15rem;
  max-height: 40rem;
}
.read-more__cta-wrapper {
  text-align: center;
  vertical-align: top;
}
.read-more__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
  display: inline-block;
  margin-right: 3.5rem;
  padding-left: 7rem;
  background: url("../svg/product_price_stroke.svg") no-repeat left center;
}
.read-more__tag-list {
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
}
.read-more_forge {
  background: url("../svg/read_more_forge_bg-grad.svg") no-repeat center center/cover;
}

.headphone-properties {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: url("../svg/read_more_bg.svg") no-repeat center top/100% 100%;
}
.headphone-properties__tags {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 4.5rem;
  margin-top: 4rem;
}
.headphone-properties__tag {
  cursor: pointer;
}
.headphone-properties__link {
  display: block;
  padding: 1.2rem 2rem;
  border: 1px solid #300000;
  border-bottom: 1px solid #c51414;
  transition: all ease 0.4s;
  opacity: 0.6;
}
.headphone-properties__link:hover {
  transform: scale3d(105%, 105%, 105%);
  opacity: 0.8;
}
.headphone-properties__link:focus {
  border: 1px solid #c51414;
}
.headphone-properties__link_active {
  transform: scale3d(105%, 105%, 105%);
  border: 1px solid #c51414;
  opacity: 1;
}
.headphone-properties__description {
  display: flex;
  min-height: 25rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.headphone-properties__description p,
.headphone-properties__description span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: inherit;
  color: #ffffff;
  line-height: 1.4;
}
.headphone-properties__description .tag-description__title {
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #ffffff;
}
.headphone-properties__tag-description {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 11rem;
  transform: translateX(1800px);
  transition: all ease-in 600ms;
  order: 1;
}
.headphone-properties__tag-description_active {
  transform: translateX(0);
  order: 0;
}

.cart-block {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b2323;
  transition: 0.5s all;
  transform: translateY(-200rem);
}
.cart-block_active {
  transform: translateY(0);
}
.cart-block__wrapper {
  position: relative;
  width: 100%;
  height: 70%;
  padding: 8rem 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #c51414;
  border-bottom: 1px solid #c51414;
}
.cart-block__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: #ffffff;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
.cart-block__product-list {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.cart-block .modal-close {
  position: absolute;
  top: 4rem;
  right: 8rem;
  margin: 0;
}
.cart-block .modal-close:hover {
  opacity: 1;
}
.cart-block__price {
  width: 100%;
  margin-bottom: 8rem;
  text-align: center;
}
.cart-block__btn-checkout {
  text-align: center;
}

.cart-item {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.cart-item__name-wrapper, .cart-item__quantity-wrapper, .cart-item__price-wrapper {
  width: 100%;
  border-right: 1px solid #c51414;
}
.cart-item__name-wrapper {
  height: 4rem;
  background-repeat: no-repeat;
  background-position: left center;
}
.cart-item__name {
  display: block;
  margin-top: 14px;
  margin-left: 5rem;
}
.cart-item_forge .cart-item__name-wrapper {
  background-image: url(../img/products/forge/forge_min.png);
}
.cart-item_shade .cart-item__name-wrapper {
  background-image: url(../img/products/shade/shade_min.png);
}
.cart-item_flit .cart-item__name-wrapper {
  background-image: url(../img/products/flit/flit_min.png);
}
.cart-item__quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item__quantity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  background: none;
}
.cart-item__minus {
  position: relative;
  width: 15px;
  height: 15px;
  background: url(../svg/icon_minus.svg) no-repeat center/contain;
}
.cart-item__plus {
  position: relative;
  width: 15px;
  height: 15px;
  background: url(../svg/icon_plus.svg) no-repeat center/contain;
}
.cart-item__price-wrapper {
  text-align: center;
}
.cart-item__price {
  display: block;
  margin-top: 14px;
}
.cart-item__remove {
  position: relative;
  margin-top: 14px;
  width: 15px;
  height: 15px;
  background: url(../svg/icon_close.svg) no-repeat center/contain;
}