//цвета
$colorBg: #2b2323;
$colorTxt: #ffffff;
$colorAccent: #ee0000;
$colorBtn: #c51414;
$colorDarkRed: #300000;

//цвета для товара
$forge-color: #ee0000;
$shade-color: #4fc514;
$flit-color: #c54f14;
$sprint-color: #f7fb3f;

//шрифты
$heading-ff: "Montserrat", sans-serif;
$main-ff: "Roboto", sans-serif;
//вес шрифтов
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
//размер шрифтов
$fzNormal: 16px;
$fzHero: 140px;
$fzh4: 24px;
$fzh3: 32px;
$fzh2: 42px;
$fzBtn: 18px;
$fzNav: 14px;
$fzHero-price: 48px;
$fzSliderAdvantages: 16px;
$fzProductTitle: 66px;
//текст капсом
%uppercase {
  text-transform: uppercase;
}

//отступы
$pSlide-cta: 150px;

//прячем текст
%hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

%product-bg-position {
  background-position: top 94px center, top center;
}

@mixin text-style($ff, $fw, $fz) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fz;
  color: $colorTxt;
}
