@import "base/normalize";

@import "abstract/variables";
@import "abstract/mixins";
@import "abstract/functions";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/property";

@import "blocks/header";
@import "blocks/hero-slider";
@import "blocks/advantages";
@import "blocks/props";
@import "blocks/products";


//products

.products {
  margin-top: 150px;
}

.section__title {
  @include text-style($heading-ff, $fw-bold, $fzh2);
  @extend %uppercase;
  text-align: center;
}

.products__list {
  margin-top: 100px;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 750px;
  background-repeat: no-repeat;

  &_forge {
    background-image: url("../img/products/forge_bg-text.png"),
      url("../img/products/forge_bg.png");
    @extend %product-bg-position;
  }

  .product__title {
    @include text-style($heading-ff, $fw-bold, $fzProductTitle);
    @extend %uppercase;
    margin-top: 80px;
    margin-bottom: 80px;
    color: $colorAccent;
  }

  .product__advantages {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .product__advantage-text {
    @include text-style($main-ff, $fw-normal, $fzBtn);

    display: block;
    padding-left: 57px;
    line-height: 1.4;
    background: url("../svg/icon_check.svg") no-repeat left center;
  }

  .product__price {
    @include text-style($heading-ff, $fw-bold, $fzHero-price);
    margin-top: 80px;
    padding-left: 70px;
    background: url("../svg/product_price_stroke.svg") no-repeat left center;
  }

  .product__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
  }

  .product__center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .product__image {
      max-height: 500px;
    }
  }

  .product__right-wrapper {
    align-self: center;
    justify-self: flex-end;
  }

  .product__props-list {
    @include text-style($main-ff, $fw-normal, $fzBtn);

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .product__property {
    padding-left: 30px;
    background: url("../svg/product_property_stroke.svg") no-repeat left center;
  }
}

.aside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  z-index: 100;
  transform: translate3d(-100%, 0, 0);
  background-color: $colorBg;
  overflow-y: auto;
  transition: all ease-in 500ms;

  &_active {
    transform: translate3d(0, 0, 0);
  }
}

.read-more {
  display: none;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  &_active {
    display: block;
  }

  .read-more__close-btn-wrapper {
    position: sticky;
    top: 40px;
    display: flex;
    justify-content: flex-end;
    z-index: 99999;
  }

  .read-more__close-btn {
    margin-right: 40px;
    opacity: 0.5;
    @include text-style($heading-ff, $fw-bold, $fzh2);
    background: none;
  }

  .read-more__title {
    @include text-style($heading-ff, $fw-bold, $fzProductTitle);
    @extend %uppercase;
    text-align: center;
    color: $colorAccent;
  }

  .read-more__slider-container {
    padding: 100px;
    max-height: 800px;
    overflow: hidden;
  }

  .read-more__slide {
    min-height: 150px;
    max-height: 800px;
  }

  .read-more__image {
    text-align: center;
    min-height: 150px;
    max-height: 400px;
  }

  .read-more__cta-wrapper {
    text-align: center;
    vertical-align: top;
  }

  .read-more__price {
    @include text-style($heading-ff, $fw-bold, $fzh4);
    display: inline-block;
    margin-right: 35px;
    padding-left: 70px;
    background: url("../svg/product_price_stroke.svg") no-repeat left center;
  }

  .read-more__tag-list {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  &_forge {
    background: url("../svg/read_more_forge_bg-grad.svg") no-repeat center
      center/cover;
  }
}

.headphone-properties {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: url("../svg/read_more_bg.svg") no-repeat center top/100% 100%;

  .headphone-properties__tags {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 40px;
  }

  .headphone-properties__link {
    display: block;
    padding: 12px 20px;
    border: 1px solid $colorDarkRed;
    border-bottom: 1px solid $colorBtn;
    transition: all ease 400ms;
    opacity: 0.6;

    &:hover {
      transform: scale3d(105%, 105%, 105%);
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $colorBtn;
    }

    &_active {
      transform: scale3d(105%, 105%, 105%);
      border: 1px solid $colorBtn;
      opacity: 1;
    }
  }

  .headphone-properties__description {
    display: flex;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    p,
    span {
      @include text-style($main-ff, $fw-normal, inherit);
      line-height: 1.4;
    }

    .tag-description__title {
      margin-bottom: 20px;
      @include text-style($heading-ff, $fw-bold, $fzBtn);
    }
  }

  .headphone-properties__tag-description {
    flex: 0 0 100%;

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 110px;
    transform: translateX(1800px);
    transition: all ease-in 600ms;
    order: 1;

    &_active {
      transform: translateX(0);
      order: 0;
    }
  }
}
