@import "_normalize";
@import "_style-default";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");



body {
  background: $colorBg;
  color: $colorTxt;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.link {
  display: block;
  @include text-style($heading-ff, $fw-bold, 15px);
  @extend %uppercase;

  .link__txt {
    display: block;
  }
}

//кнопки

.btn {
  @include text-style($main-ff, $fw-medium, $fzBtn);
  @extend %uppercase;
}

.btn-main {
  position: relative;
  padding: 12px 36px;
  background-color: $colorBtn;
  transition: 0.2s;

  &:after {
    content: url("../svg/btn_stroke.svg");
    display: block;
    width: 171px;
    height: 48px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    z-index: -1;
  }

  &:hover {
    transform: translate(5px, 5px);
  }

  &:hover:after {
    transform: translate(-5px, -5px);
  }
}

.btn-secondary {
  position: relative;
  display: block;
  padding: 12px 0;
  transition: 0.2s;

  &:after {
    content: "";
    display: block;
    width: 195px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid $colorTxt;
    transition: 0.2s;
  }

  &:hover {
    transform: translateY(5px);
  }

  &:hover:after {
    transform: translateY(-5px);
  }
}

//header

@import "_header";

//hero

@import "_hero-slider";







//advantages {

.advantages {
  position: relative;
  background: url(../svg/bg_strokes.svg) no-repeat top center;
}

.advantages__list {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
  background-image: url(../svg/bg_stroke_props.svg);
  background-repeat: no-repeat;
  background-position: center top 147px;
  @include text-style($heading-ff, $fw-bold, $fzh4);
  @extend %uppercase;
}

.advantage {
  width: 405px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage_bot {
  border-bottom: 1px solid $colorAccent;
}

.advantage_top {
  border-top: 1px solid $colorAccent;
}

.advantage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 60px;

  background-repeat: no-repeat;
  background-position: top center;
}

.advantage__txt {
  display: block;
}

.advantage__txt_red {
  color: $colorAccent;
}

.advantage_guarantee {
  width: 220px;
  background-image: url(../svg/icon_garantee.svg);
}

.advantage_free-shipping {
  width: 280px;
  background-image: url(../svg/icon_delivery.svg);
}

.advantage_free-return {
  width: 290px;
  background-image: url(../svg/icon_comeback.svg);
}

//props

.props {
  margin-top: 150px;

  .props__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
  }

  .props__item {
    height: 380px;
    display: flex;
    align-items: center;
  }
}

.property {
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: 62vw;

  &_left {
    background-position: right center;
  }

  &_right {
    justify-content: flex-end;
    background-position: left center;
  }

  &_sound {
    background-image: url("../img/prop1.png");
  }

  &_design {
    background-image: url("../img/prop2.png");
  }

  &_microphone {
    background-image: url("../img/prop3.png");
  }

  &_compatible {
    background-image: url("../img/prop4.png");
  }

  .property__text-wrapper {
    min-width: 743px;
    max-width: 743px;
    padding-bottom: 50px;
    background-repeat: no-repeat;

    &_left {
      margin-left: 11.25vw;
      background-image: url("../svg/underline_property_left.svg");
      background-position: left bottom;
    }

    &_right {
      margin-right: 11.25vw;
      padding-left: 134px;
      background-image: url("../svg/underline_property_right.svg");
      background-position: left bottom;
    }
  }

  .property__heading {
    @include text-style($heading-ff, $fw-bold, $fzh3);
    @extend %uppercase;
  }

  .property__subtitle {
    @include text-style($main-ff, $fw-light, $fzh4);
    margin-top: 25px;
  }

  .property__text {
    @include text-style($main-ff, $fw-normal, 16px);
    max-width: 470px;
    margin-top: 30px;
    line-height: 1.4;
  }
}

//products

.products {
  margin-top: 150px;
}

.section__title {
  @include text-style($heading-ff, $fw-bold, $fzh2);
  @extend %uppercase;
  text-align: center;
}

.products__list {
  margin-top: 100px;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 750px;
  background-repeat: no-repeat;

  &_forge {
    background-image: url("../img/products/forge_bg-text.png"),
      url("../img/products/forge_bg.png");
    @extend %product-bg-position;
  }

  .product__title {
    @include text-style($heading-ff, $fw-bold, $fzProductTitle);
    @extend %uppercase;
    margin-top: 80px;
    margin-bottom: 80px;
    color: $colorAccent;
  }

  .product__advantages {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .product__advantage-text {
    @include text-style($main-ff, $fw-normal, $fzBtn);

    display: block;
    padding-left: 57px;
    line-height: 1.4;
    background: url("../svg/icon_check.svg") no-repeat left center;
  }

  .product__price {
    @include text-style($heading-ff, $fw-bold, $fzHero-price);
    margin-top: 80px;
    padding-left: 70px;
    background: url("../svg/product_price_stroke.svg") no-repeat left center;
  }

  .product__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
  }

  .product__center-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .product__image {
      max-height: 500px;
    }
  }

  .product__right-wrapper {
    align-self: center;
    justify-self: flex-end;
  }

  .product__props-list {
    @include text-style($main-ff, $fw-normal, $fzBtn);

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .product__property {
    padding-left: 30px;
    background: url("../svg/product_property_stroke.svg") no-repeat left center;
  }
}

.aside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  z-index: 100;
  transform: translate3d(-100%, 0, 0);
  background-color: $colorBg;
  overflow-y: auto;
  transition: all ease-in 500ms;

  &_active {
    transform: translate3d(0, 0, 0);
  }
}

.read-more {
  display: none;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  &_active {
    display: block;
  }

  .read-more__close-btn-wrapper {
    position: sticky;
    top: 40px;
    display: flex;
    justify-content: flex-end;
    z-index: 99999;
  }

  .read-more__close-btn {
    margin-right: 40px;
    opacity: 0.5;
    @include text-style($heading-ff, $fw-bold, $fzh2);
    background: none;
  }

  .read-more__title {
    @include text-style($heading-ff, $fw-bold, $fzProductTitle);
    @extend %uppercase;
    text-align: center;
    color: $colorAccent;
  }

  .read-more__slider-container {
    padding: 100px;
    max-height: 800px;
    overflow: hidden;
  }

  .read-more__slide {
    min-height: 150px;
    max-height: 800px;
  }

  .read-more__image {
    text-align: center;
    min-height: 150px;
    max-height: 400px;
  }

  .read-more__cta-wrapper {
    text-align: center;
    vertical-align: top;
  }

  .read-more__price {
    @include text-style($heading-ff, $fw-bold, $fzh4);
    display: inline-block;
    margin-right: 35px;
    padding-left: 70px;
    background: url("../svg/product_price_stroke.svg") no-repeat left center;
  }

  .read-more__tag-list {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  &_forge {
    background: url("../svg/read_more_forge_bg-grad.svg") no-repeat center
      center/cover;
  }
}

.headphone-properties {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: url("../svg/read_more_bg.svg") no-repeat center top/100% 100%;

  .headphone-properties__tags {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 40px;
  }

  .headphone-properties__link {
    display: block;
    padding: 12px 20px;
    border: 1px solid $colorDarkRed;
    border-bottom: 1px solid $colorBtn;
    transition: all ease 400ms;
    opacity: 0.6;

    &:hover {
      transform: scale3d(105%, 105%, 105%);
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $colorBtn;
    }

    &_active {
      transform: scale3d(105%, 105%, 105%);
      border: 1px solid $colorBtn;
      opacity: 1;
    }
  }

  .headphone-properties__description {
    display: flex;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    p,
    span {
      @include text-style($main-ff, $fw-normal, inherit);
      line-height: 1.4;
    }

    .tag-description__title {
      margin-bottom: 20px;
      @include text-style($heading-ff, $fw-bold, $fzBtn);
    }
  }

  .headphone-properties__tag-description {
    flex: 0 0 100%;

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 110px;
    transform: translateX(1800px);
    transition: all ease-in 600ms;
    order: 1;

    &_active {
      transform: translateX(0);
      order: 0;
    }
  }
}
