.pagination {
  display: flex;
  gap: 1rem;
  &__bullet {
  }
}

.bullet {
  width: 3rem;
  height: 3rem;

  background-color: $colorDarkRed;
  border-radius: 50px;
  &__txt {
    @extend %hidden;
  }

	&_active {
		border: 1px dashed $colorAccent;
	}
}
