.header {
  @include text-style($heading-ff, $fw-medium, $fzNav);
  @extend %uppercase;

  position: sticky;
  top: 0;
  background: $colorBg;
  opacity: 0.5;
  z-index: 9999;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__nav {
    min-width: 33rem;
    width: 40rem;
  }
}

.logo {
  &__img {
  }
}
.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__item {
  }

  &__link {
    transition: all 0.3s ease;
    &:hover {
      padding-bottom: 1rem;
      border-bottom: 1px $colorAccent solid;
    }
  }

  &__text {
  }
}
.contacts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 17.6rem;

  cursor: pointer;

  &__link {
    transition: all 0.3s ease;

    & span {
      display: flex;
      align-items: center;

      &::before {
        content: "\e900";
        font-family: "icomoon";
        margin-right: 5px;
        font-size: 2.4rem;
        color: #fff;
      }

      &:hover::before {
        color: $colorAccent;
      }
    }

    &:hover {
      padding-bottom: 1rem;
      border-bottom: 1px $colorAccent solid;
    }
  }
}
.messengers {
  position: relative;
  display: flex;
  gap: 1rem;

  &__item {
    padding: 0.8rem;
  }

  &__link {
    font-size: 2.4rem;

    & span {
      @extend %hidden;
    }
  }
}
 
.cart {
  position: relative;
  &__link {
    font-size: 3rem;
  }

  &__text {
    @extend %hidden;
  }

  &__icon {
    fill: $colorTxt;
  }

  &__quantity {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 3px;
    display: flex;
    text-align: center;
    font-size: 12px;
    background-color: $colorDarkRed;
    border: 1px dashed $colorAccent;
    visibility: hidden;

    &_active {
      visibility: visible;
    }
  }
}
